### T - tests

### Independent t-test

In [32]:
import numpy as np
import pandas as pd
from scipy.stats import ttest_1samp
from scipy.stats import ttest_ind

In [1]:
ages=[10, 20, 34,56,23,65,45,75,23,12,43,67,23,47,32,31,45,57,21,15,34, 26,17,16,25, 29,30, 11, 8, 19]
len(ages)

30

In [8]:
mean_pop=np.mean(ages)
mean_pop

31.966666666666665

In [10]:
# Take 10 samples ages
sample_size=10
sample=np.random.choice(ages,sample_size)
sample

array([10, 21, 75, 26, 23, 23, 23, 23, 31, 10])

In [14]:
ttest,p_value=ttest_1samp(sample, mean_pop)
print(p_value)

0.36817333438663213

In [15]:
if p_value<0.05:
    print("Reject Null Hypothesis")
else:
    print("Fail to reject Null Hypothesis")

Fail to reject Null Hypothesis

### Some more examples with 1 sample t-test

In [ ]:
# Consider the heights of students in school
# Consider the heights of students in Class A  and Class B

In [18]:
import math
from scipy.stats import poisson
np.random.seed(8)

In [ ]:
# with the help of poission dsitribution, lets created the height

In [34]:
school_height=poisson.rvs(loc=18, mu=35, size=1500) # loc is the smallest value or leftmost value
classA_height=poisson.rvs(loc=18, mu=30, size=50)  # numpy arrays

In [21]:
classA_height.mean()

47.1

In [23]:
_,p_value=ttest_1samp(classA_height, school_height.mean())
print(p_value)

1.4138423854592973e-09

In [24]:
if p_value<0.05:
    print("Reject Null Hypothesis")
else:
    print("Fail to reject Null Hypothesis")

Reject Null Hypothesis

### Two sample t-test

In [28]:
np.random.seed(5)
classB_height=poisson.rvs(loc=18, mu=31, size=50)
classB_height.mean()

48.76

In [35]:
_,p_value=ttest_ind(classA_height, classB_height, equal_var=False)

In [36]:
print(p_value)

0.3411009941481975

In [37]:
if p_value<0.05:
    print("Reject Null Hypothesis")
else:
    print("Fail to reject Null Hypothesis")

Fail to reject Null Hypothesis

### Paired t-test

#### When we want to check how different are the samples from the same group.

In [53]:
import scipy.stats as stats
from scipy.stats import ttest_rel

In [ ]:
# Consider weights and we will do some transformation and consider that age after few years.

In [48]:
weight1=[90,77,67,87,96,100,56,58,87,66,59,78,76,91,88]  # 15 weights 
weight2=weight1 + stats.norm.rvs(scale=5,loc=-1.25, size=15)

In [49]:
print(weight1)
print(weight2)

[90, 77, 67, 87, 96, 100, 56, 58, 87, 66, 59, 78, 76, 91, 88]
[ 93.97827976  81.16762676  57.04966295  81.74336658  96.94279305
 107.90898196  60.31607569  62.0320971   91.56775809  74.66289303
  59.0914057   80.26209542  73.4259404   83.84839649  83.17896003]

In [50]:
#Creating a dataframe
df=pd.DataFrame({"weight_1":np.array(weight1),
                "weight_2":np.array(weight2),
                "weight_change": np.array(weight2) - np.array(weight1)})

In [52]:
df.head()

   weight_1   weight_2  weight_change
0        90  93.978280       3.978280
1        77  81.167627       4.167627
2        67  57.049663      -9.950337
3        87  81.743367      -5.256633
4        96  96.942793       0.942793

In [55]:
_, p_value=ttest_rel(weight1, weight2)
print(p_value)

0.6114889758259522

In [56]:
if p_value<0.05:
    print("Reject Null Hypothesis")
else:
    print("Fail to reject Null Hypothesis")

Fail to reject Null Hypothesis